@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
}
h1, h2 {
    /* font-family: "Faculty Glyphic", sans-serif; */
    font-weight: 800;
}
h3, h4, h5, h6 {
    font-weight: 600;
}
img {
    width: 100%;
    min-width: 0px;
    min-height: 0px;
    object-fit: cover;
}
.container {
    width: 90dvw;
    max-width: 1620px;
    margin: 0px auto;
}
.hidden {
    display: none !important;
}
.disabled {
    opacity: 0.5;
    pointer-events: none;
}
/* header and nav */
header {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: max-content minmax(0px, 1fr);
}
header > .container {
    display: flex;
    gap: 10px 25px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}
header nav {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    a {
        text-decoration: none;
        color: #7c6dbd;
        font-weight: 500;
    }
}

/* intro section */
#main {
    display: grid;
    grid-template-rows: max-content minmax(0px, 1fr);
}
.intro > .container {
    padding-bottom: 25px;
    display: flex;
    gap: 25px;
    align-items: center;
    div {
        flex: 1;
    }
    .content {
        grid-area: txt;
        text-wrap: pretty;
        max-width: 600px;
    }
    .imgc {
        grid-area: img;
        height: 200px;
        max-height: max-content;
        padding-left: 25px;
        img {
            display: block;
            height: 100%;
        }
    }
}

/* Agenda section */
.agenda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.agenda > .container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 30px;
    justify-content: space-between;
    h2 {
        flex: 100%;
    }
    .a-bloc {
        flex: 2;
    }
    .a-bloc h3 {
        font-size: 1rem;
        font-weight: 800;
    }
    .a-bloc ul {
        padding: 5px 0px 20px 10px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
#lunch {
    background-color: #9ee8a5;
    margin-top: 25px;
    text-align: center;
    padding: 25px 0px;
    h2 {
        padding-bottom: 2px;
        margin-bottom: 5px;
        text-transform: uppercase;
        letter-spacing: 0.25em;
    }
}

/* main content */
main > .container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    min-height: 50dvh;
    padding: 15px 0px;
    .content {
        flex: 1;
    }
    .imgc {
        flex: 1;
    }
    .imgc img {
        mask-image: url(../images/brain2.svg);
        mask-repeat: no-repeat;
    }
}

/* footer */
footer {
    background-color: #295732;
    color: #fefefe;
    position: relative;
    min-height: 50dvh;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    align-items: center;
    overflow: hidden;
    hr {
        border: none;
        border-bottom: 15px solid #9ee8a5;
    }
    .shape-fam {
        position: absolute;
        right: 5dvh;
        top: -10px;
        display: flex;
        gap: 25px;
        transform: rotate(5deg);
        &:nth-child(2) {
            top: auto;
            right: auto;
            left: 5dvh;
            bottom: -10px;
        }
    }
    .shape {
        display: block;
        width: 50px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        background-color: #9ee8a5;
    }
    p {
        max-width: 800px;
    }
}