* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
h1, h3, h2, .times, a, #like p {
    text-transform: uppercase;
}
a {
    text-decoration: none;
    display: inline-block;
}
.contain {
    width: 90dvw;
    max-width: 1280px;
    margin: 0px auto;
}

header {
    height: 75dvh;
    background:
        linear-gradient(0deg, #1115, #1115),
        url(../images/cpotpie.jpg);
    ;
    background-size: cover;
    background-attachment: fixed;
    padding: 25px 0px;
    display: flex;
    align-items: center;
}
header .contain {
    backdrop-filter: blur(15px) saturate(50%);
    display: flex;
    color: white;
}
header .contain > * {
    flex: 1;
}

header .ic img {
    height: 100%;
    display: block;
}
header .content {
    padding: 25px 50px;
    align-self: center;
}
header .content h1 {
    margin: 10px 0px;
}
header .content .times {
    display: flex;
    gap: 25px;
    align-items: center;
}
header .content .times p span {
    display: block;
    margin: 12px 0px 0px;
}
header .content .desc {
    margin: 25px 0px;
}