* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0px;
}
img {
    width: 100%;
    object-fit: cover;
}
.single-column {
    width: 90vw;
    margin: 0px auto;
}

.side-by-side {
    display: flex;
    gap: 25px;
}
.side-by-side .image-contain,
.side-by-side .content {
    flex: 1;
}

.time {
    display: flex;
    gap: 25px;
}

.three-cards {
    display: flex;
    gap: 25px;
}

.three-cards .card {
    flex: 1;
}