* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    letter-spacing: 0.25px;
}
img {
    width: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}
a.btn {
    padding: 10px 20px;
    background: transparent;
    border: 0.5px solid #fefefe;
    color: #fefefe;
    transition: 
        background 0.5s, 
        backdrop-filter 0.5s, 
        border-radius 0.5s
    ;
    &:hover {
        background: linear-gradient(90deg, #c9ffb8, #b8e4ff);
        backdrop-filter: blur(5px);
        border-radius: 10px;
        color: #111;
    }
    &.alt {
        border: 0px;
        padding: 25px 0px;
        background: linear-gradient(180deg, #c9ffb800, #b8e4ff);
        transition: padding 0.5s, color 0.5s;
        &:hover {
            padding-bottom: 50px;
            color: #c9ffb8;
            border-radius: 0px;
        }
    }
}

#nav {
    display: flex;
    gap: 25px;
    justify-content: center;
    background: linear-gradient(90deg, #c9ffb8, #b8e4ff);
    padding: 10px 0px;
    a {
        font-size: 16px;
        color: #111;
        font-variant: small-caps;
        &:hover {
            color: #0078c2;
        }
    }
}

#hero {
    height: 50vh;
    background:
        linear-gradient(0deg, #111a, #111a),
        url("../images/cookbook-hero.jpg")
    ;
    background-size: cover;
    color: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1 {
        margin-bottom: 5px;
    }
    h6 {
        letter-spacing: 5px;
        text-transform: uppercase;
        font-weight: lighter;
        margin-bottom: 25px;
    }
    .btns {
        display: flex;
        gap: 25px;
        justify-content: center;
    }
}

.section {
    max-width: 900px;
    width: 90vw;
    margin: 80px auto;
    padding: 25px 0px;
    display: flex;
    gap: 50px;
    border-top: 0.5px solid #111;
    border-bottom: 0.5px solid #111;
    h2, p, .ic {
        margin-bottom: 25px;
    }
    p {
        padding-bottom: 10px;
        border-bottom: 0.5px solid #0078c2;
    }
    h4 {
        margin-bottom: 10px;
    }
    ul, ol {
        padding-left: 20px;
        li {
            padding: 5px 0px;
        }
    }
    .ic {
        height: 300px;
        img {
            height: 100%;
        }
    }
}

/* Movie Showcase */
#movie-showcase #header {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    height: 100dvh;
}
#movie-showcase #header #hero-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .col {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;
        color: #fefefe;
        gap: 25px;
    }
    .c1 {
        background:
            linear-gradient(180deg, #1110, #111),
            url("../images/barbie.jpg")
        ;
        background-size: cover;
        background-position: center;
    }
    .c2 {
        background:
            linear-gradient(180deg, #1110, #111),
            url("../images/weapons.jpg")
        ;
        background-size: cover;
        background-position: center;
    }
    .c3 {
        background:
            linear-gradient(180deg, #1110, #111),
            url("../images/cat-returns.jpg")
        ;
        background-size: cover;
        background-position: center;
    }
}
#movie-showcase .section {
    max-width: none;
    width: 100dvw;
    margin: 0px;
    padding: 0px 5dvw 0px 0px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: none;
    min-height: 80dvh;
    overflow-x: hidden;
    h2, p, .ic {
        margin-bottom: 0px;
    }
    p {
        padding: 10px 0px;
        border-bottom: none;
    }
    .info {
        border-bottom: 0.5px solid #0078c2;
        margin-bottom: 10px;
    }
    .ic {
        height: 100%;
        img {
            height: 100%;
            display: block;
        }
    }
}
#movie-showcase .section .c2 {
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .content, .card {
        max-width: 600px;
    }
    .card {
        border: 0.5px solid #0078c2;
        background-color: #0078c255;
        padding: 25px;
        border-radius: 25px;
        position: relative;
        max-width: 350px;
        margin: 0px auto;
        z-index: 1;
        blockquote {
            padding: 10px;
            backdrop-filter: blur(5px);
            border-radius: 35px;
        }
        img {
            width: 400px;
            position: absolute;
            z-index: -1;
            top: 50%;
            transform: translateY(-50%);
            right: -20%;
        }
    }
}
#movie-showcase #s2 .card img {
    width: 150px;
    right: -10%;
}
#movie-showcase #s3 .card img {
    width: 100px;
    right: -10%;
}
#movie-showcase .section .c1 {
    position: relative;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        background: linear-gradient(45deg, #c9ffb8, #b8e4ff);
        position: absolute;
        bottom: 25px;
        left: 25px;
        color: #111;
        i {
            transform: rotate(-45deg);
            backdrop-filter: blur(5px);
            transition: color 0.5s, font-size 0.5s;
        }
        &:hover {
            background: transparent;
            i {
                color: #0078c2aa;
                font-size: 25px;
            }
        }
    }
}

/* Playlists */
#playlists {
    background-color: #111;
}
#playlists #header {
    position: fixed;
    top: 10px;
    margin-left: 10px;
    display: flex;
    gap: 10px;
    overflow-x: hidden;
    #drop {
        position: relative;
        width: 50px;
        aspect-ratio: 1 / 1;
        cursor: pointer;
        background: linear-gradient(45deg, #c9ffb8, #b8e4ff);
        border-radius: 15px;
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            font-size: 2rem;
        }
    }
    i.fa-igloo {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0.5s;
    }
    i.fa-bars {
        transition: opacity 0.5s, visibility 0.5s;
    }
    &:hover i.fa-igloo {
        opacity: 1;
        visibility: visible;
    }
    &:hover i.fa-bars {
        opacity: 0;
        visibility: hidden;
    }
    &:hover #nav {
        transform: translateX(0px);
    }
    #nav {
        background: 
            linear-gradient(
            45deg, 
            #c9ffb8, 
            #b8e4ff 5% 30%, 
            #c9ffb8
        );
        display: flex;
        align-items: center;
        padding: 0px 25px;
        transform: translateX(-100vw);
        z-index: -1;
        border-radius: 15px;
        transition: transform 0.5s;
    }
}
.playlist {
    width: 90dvw;
    margin: 25px auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
#p1.playlist .c1 {
    background: url(../images/shark-plimg.jpg);
    background-position: center;
    background-size: cover;
}
.playlist .c2 {
    background: linear-gradient(45deg, #c9ffb8, #b8e4ff);
    display: grid;
    gap: 15px 25px;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
        "head head"
        "now-playing slide"
    ;
    padding: 25px;
    /* min-height: 50dvh; */
    h1 {
        grid-area: head;
        text-align: center;
    }
    .np {
        min-height: 200px;
        grid-area: now-playing;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content 1fr max-content;
        gap: 10px;
        grid-template-areas:
            "image np-title"
            "image s-title"
            "para para"
        ;
        .ic {
            grid-area: image;
            img {
                height: 100%;
            }
        }
        h3 {
            grid-area: np-title;
            font-size: 1rem;
        }
        h2 {
            grid-area: s-title;
            margin-left: -45px;
            padding: 10px 0px 10px 10px;
            background: linear-gradient(90deg, #fff5, #fff0 45%);
            backdrop-filter: blur(5px);
            border-radius: 15px;
            align-self: center;
        }
        p {
            grid-area: para;
            justify-self: center;
        }
    }
    .slider {
        grid-area: slide;
        overflow: hidden;
    }
    .slider .s-contain {
        overflow-x: scroll;
        display: flex;
        gap: 15px;
        align-items: flex-end;
        height: 100%;
    }
    .s-contain .card {
        flex: 0 0 200px;
    }
}