* {
    box-sizing: border-box;
    margin: 0px;
}
body {
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
.single-column {
    width: 90%;
    max-width: 1280px;
    margin: 0px auto;
}

#hero {
    background: url(../images/dogisha.jpg);
    background-size: cover;
    background-position: right center;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#hero h1 {
    text-align: right;
    font-size: 4rem;
}